.login {
    width: 100%;
    height: calc(100vh - 63px);
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    max-width: 400px;
    padding: 32px 8px 24px;
}

.tittle {
    font-size: var(--lg);
    margin-bottom: 40px;
    text-align: start;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.value {
    color: var(--dark);
    font-size: var(--md);
    font-weight: 300;
    margin: 8px 0 32px 0;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    font-size: var(--md);
    padding: 12px;
    margin-bottom: 24px;
    color: var(--dark);
    font-family: 'Quicksand', sans-serif;
    font-size: var(--lg);
    font-weight: 300;
}

.input-password {
    margin-bottom: 40px;
}

.primary-button, .secondary-button {
    font-family: 'Quicksand', sans-serif;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-size: var(--lg);
    padding: 20px;
    max-width: 400px;
}

.primary-button {
    background-color: var(--hospital-green);
    border: none;
    color: var(--white);
}

.secondary-button {
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

@media (max-width: 800px) {
    .form-container {
        height: 100%;
    }

    .form {
        height: 100%;
        justify-content: space-between;
    }
}