
/************* Modals *************/

.product-detail, .cart-modal-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cart-modal-content {
    padding: 0 24px 24px;
}

.product-detail-modal, .cart-modal {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    height: calc(100vh - 63px);
    position: absolute;
    right: 0;
    display: none;
    background-color: var(--white);
    box-shadow: 0px 0px 6px 4px #c7c7c73b;
    z-index: 1;
}

.my-order-content {
    flex-grow: 1;
}

.product-detail-close {
    background-color: var(--white);
    box-shadow: 0px 0px 6px 4px #c7c7c73b;
    position: absolute;
    width: 38px;
    height: 38px;
    padding: 12px;
    top: 24px;
    left: 24px;
    border-radius: 50%;
}

.title-container a {
    display: flex;
    margin: 24px 0 48px;
    text-decoration: none;
    color: var(--dark);
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 12px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.product-detail>img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.product-detail-info {
    margin: 48px 24px 0 24px;
    flex-grow: 1;
}

.product-detail-info p {
    font-size: var(--lg);
    font-weight: 300;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 24px;
}

.product-detail-info p:nth-child(1) {
    font-weight: bold;
    margin-bottom: 8px;
}

.product-detail-info p:nth-child(3) {
    font-size: var(--md);
    margin-bottom: 56px;
}

.shopping-card {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
    font-weight: bold;
}

.shopping-card figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover; 
}

.shopping-card p:nth-child(2) {
    /* color: var(--very-light-pink); */
    font-size: var(--sm);
    font-weight: 300;
} 

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 24px;
    font-weight: bold;
    color: var(--dark);
}

.order p span {
    font-size: var(--sm);
}

.order p:nth-child(2) {
    text-align: end;
}

.add-to-cart-button-container {
    padding: 0 24px 24px;
}

.primary-button {
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--lg);
    padding: 16px;
}

.add-to-cart-button {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

#product-detail-modal:target, #cart-modal:target {
    display: block;
}

/************* Search Bar *************/

.searchbar-container {
    min-width: 280px;
    max-width: 1350px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    padding: 40px 24px;
}

.searchbar-component {
    background-color: var(--text-input-field);
    padding: 10px 12px;
    border-radius: 12px;
    width: 350px;
    display: flex;
}

.searchbar-component svg {
    width: 24px;
    height: 24px;
}

.searchbar-component svg path {
    fill: #C7C7C7;
}

.searchbar-component input {
    width: calc(100% - 30px);
    border: 0;
    background-color: var(--text-input-field);
    color: var(--dark);
    font-size: var(--lg);
}

.searchbar-container input:focus {
    outline: none;
}

.searchbar-container input::placeholder {
    color: var(--very-light-pink);
}

/* Filter options */

.filters-component {
    display: none;
}

/* End Filter Options */

.sort-component {
    color: var(--very-light-pink);
}

.sort-order {
    font-weight: bold;
    color: var(--dark);
    margin-right: 4px;
}

.sort-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('https://www.svgrepo.com/show/393640/down-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/************* Product Cards *************/

.cards-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.cards-container a {
    text-decoration: none;
    color: var(--dark);
}

.product-card {
    width: 240px;
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 6px 4px #c7c7c73b;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

/************* EXMAPLE *************/

@media (max-width: 800px) {

    /************* Search Bar *************/

    .searchbar-container {
        flex-direction: column;
        padding: 16px 24px 20px;
    }

    .filters-component {
        width: 100%;
        height: 40px;
        display: flex;
        padding: 6px 24px;
        gap: 4px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }
    
    .filters-component .filter {
        position: relative;
        scroll-snap-align: center;
    }
    
    .filters-component .filter a {
        text-decoration: none;
        color: var(--very-light-pink);
        border: 1px solid var(--white);
        padding: 4px 12px;
        border-radius: 8px;
    }
    
    .filters-component .filter:nth-child(1) a, .filters-component .filter a:hover {
        border: 1px solid var(--hospital-green);
        color: var(--hospital-green);
    }

    .searchbar-component {
        width: 100%;
    }

    /************* Product cards *************/

    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product-card {
        width: 140px;
    }

    .product-card img {
        width: 140px;
        height: 140px;
    }

    /************* EXMAPLE *************/
}